.App {
  text-align: center;
  padding: 20px;
}

.controls {
  margin: 20px;
}

.controls label {
  margin: 0 20px;
}

.car-preview {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 30px auto;
}

.car-preview img.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
